/* RESET */
*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* BODY */
body{
font-family:'Poppins', sans-serif;
background:
linear-gradient(rgba(0,0,0,0.7), rgba(20,5,0,0.9)),
url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0");
background-size:cover;
background-position:center;
background-attachment:fixed;
color:#fff;
}

/* NAVBAR */
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
}

.logo{
font-family:'Playfair Display', serif;
font-size:32px;
letter-spacing:2px;
}

.nav-links a{
margin-left:30px;
text-decoration:none;
color:#fff;
font-size:14px;
transition:0.3s;
}

.nav-links a:hover{
color:gold;
}

.nav-links a.active{
border:1px solid gold;
padding:6px 15px;
border-radius:20px;
color:gold;
}

/* TITLE */
.hero{
text-align:center;
margin-top:40px;
}

.hero h1{
font-family:'Playfair Display', serif;
font-size:80px;
font-weight:600;
}

/* HISTORY BOX */
.history-box{
width:80%;
margin:40px auto;
border:1px solid rgba(255,215,0,0.5);
padding:40px;
min-height:400px;
background:rgba(40,10,0,0.6);
backdrop-filter:blur(8px);
border-radius:10px;
}

.history-title{
color:gold;
font-size:28px;
font-family:'Playfair Display', serif;
margin-bottom:30px;
}

.history-content{
display:flex;
justify-content:space-between;
gap:40px;
}

.left{
width:60%;
}

.right{
width:35%;
}

/* HISTORY ITEM */
.history-item{
border-bottom:1px dotted rgba(255,255,255,0.4);
padding:18px 0;
}

.item-info{
display:flex;
justify-content:space-between;
margin-bottom:10px;
}

.name{
font-weight:500;
font-size:15px;
}

.price{
color:gold;
font-weight:500;
}

/* ACTION BUTTONS */
.actions{
display:flex;
justify-content:flex-end;
gap:10px;
}

/* BUTTON STYLE */
.actions button{
padding:7px 16px;
border:none;
border-radius:25px;
font-size:12px;
cursor:pointer;
color:white;
font-weight:500;
transition:all 0.25s ease;
box-shadow:0 3px 8px rgba(0,0,0,0.4);
}

/* EDIT BUTTON */
.actions button:first-child{
background:linear-gradient(45deg,#ffb347,#ffd700);
color:#000;
}

.actions button:first-child:hover{
transform:translateY(-2px);
box-shadow:0 6px 14px rgba(255,215,0,0.6);
}

/* CANCEL BUTTON */
.actions button:last-child{
background:linear-gradient(45deg,#ff4b2b,#ff416c);
}

.actions button:last-child:hover{
transform:translateY(-2px);
box-shadow:0 6px 14px rgba(255,0,0,0.5);
}

/* TOTAL BOX */
.total-box{
border-top:1px solid rgba(255,255,255,0.5);
padding-top:15px;
margin-top:20px;
}

.total-box p{
display:flex;
justify-content:space-between;
margin-bottom:10px;
font-size:15px;
}

.total-box strong{
color:gold;
font-size:18px;
}

/* RESPONSIVE */
@media(max-width:900px){

.history-content{
flex-direction:column;
}

.left,
.right{
width:100%;
}

}